@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <button type="button" class="btn btn-primary" onclick="CallHome()">Click Me</button>
    <div class="alert-success" id="response"></div>
</div>
